.usersTable {
    max-width: inherit;
    padding: initial;
}

.bodyPage, .row {
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

.sidebar {
    padding: 0;
}

.navButt, .navButt:hover {
    border-radius: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    margin-left: 15px;
}

li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

.col-md-11 {
    width: 15px;
}

.paddingTop {
    padding-top: 20px;
}

.navSettings {
    margin-top: 40px;
}

.Active {
    background-color: #4c9ed0;
    color: white;
}

.DeActive {
    color: #4c9ed0;
}

.headerSettings, .headerSettings:hover {
    color: #ababab;
    text-decoration: none;
}

.logout {
    color: #ababab;
}

.logout:hover {
    color: white;
}

.btn-success {
    background-color: #4c9ed0;
    color: white;
    border-color: #4c9ed0;
}

.btn-success:hover {
    background-color: #31759e;
    color: white;
    border-color: #31759e;
}

.add-new-user {
    text-align: center;
}

.btn-success-addUser {
    background-color: #61b56e;
    color: white;
}

.btn-danger {
    background-color: #f8f8f8;
    color: black;
    border-color: #f8f8f8;
}

.btn-danger:hover {
    /*#ababab dimgray*/
    background-color: #ababab;
    color: black;
    border-color: #ababab;
}

.card-body-newUser {
    margin: 0 auto;
    width: 33%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.modal-dialog {
    max-width: 33%;
}

.modal-body {
    margin: 0 auto;
    width: 33%;
}

.word-row {
    font-weight:bold;
    text-align: center;
    margin-bottom: 8px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0f;
}