<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


<nav class="navbar navbar-dark bg-dark">
    <a class="headerSettings" href="#">Project name</a>
    <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
        <a href="/logout" class="logout">Logout</a>
    </form>
</nav>

<div class="container-fluid bodyPage">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-white sidebar paddingTop">
            <!-- Links -->
            <ul class="navbar-nav">
                <div th:if="${userAuth.getRoleString().contains('ADMIN')}">
                    <li class="nav-item" >
                        <form action="/admin/page" method="get">
                            <a type="" class="nav-link navButt DeActive" href="/admin/page" style="padding-left: 15px;">Admin</a>
                        </form>
                    </li>
                </div>


                <div>
                    <li class="nav-item" >
                        <form action="/user/page" method="get">
                            <a class="nav-link navButt Active" href="/user/page" style="padding-left: 15px;">User</a>
                        </form>
                    </li>
                </div>
            </ul>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-light paddingTop">
            <h2>User page</h2>
            <p th:text="${'Hello ' + userAuth.getUsername() + '!'}"></p>
        </main>
    </div>
</div>
</body>
</html>


